
<h3>Add Transaction</h3>
<strong>Please fill the form below, and click Add</strong>
<p/>
<div>
	<form name="txnForm" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-sm-2" for="desc">Description:</label>
			<div class="col-sm-10">
				<input name="desc" ng-model="desc" required /> <span
					ng-show="txnForm.desc.$touched && txnForm.desc.$invalid">This field is required.</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="amt">Amount:</label>
			<div class="col-sm-10">
				<input name="amt" ng-model="amt" required />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="crdb">Credit/Debit:</label>
			<div class="col-sm-10">
				<input type="radio" name="crdb" ng-model="crDb" value="credit" required>Credit <input
					type="radio" name="crdb" ng-model="crDb" value="debit" required>Debit
			</div>
		</div>
		<p style="color: red">
			<b>{{ errortext }}</b>
		</p>

		<button ng-click="addTxn()" class="btn btn-primary">Add</button>

		<div>{{ result }}</div>
	</form>
</div>
